#welkomhome{
    margin-left: 175px;
}
#divhome{
    margin-left: 175px;
    margin-top: 75px;
    width: 25%;
    background-color: #eeecec;
}
#bestellingenhome{
    margin-left: 10px;
    padding-top: 10px;
}
#pbestelingenhome{
    margin-left: 10px;
}